* {
  overflow: hidden;
}

.videoPlayer {
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  grid-row: inherit;
}

#player {
  max-height: 25em;
  max-width: 100%;
  border-radius: 10px;
}

.descriptionCard {
  margin: 10px;
}
